#countLabel{
    display:block;
    text-align:center;
    font-size: 10em;
    font-family:helvetica;
}
#btnContainer{
    text-align:center;

}
.buttons {
  padding: 10px 20px;
  font-size: 1.5em;
  color: rgb(207, 170, 196);
  background-color:@hs1(214, 100%, 74%) ;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
  width: 200px;   
  height: 60px;    
  display: inline-flex;            
  align-items: center;             
  justify-content: center}
.buttons:hover{
   background-color:rgb(100, 6, 72);
}